@font-face {
    font-family: 'Avenir Regular';
    src: url('../fonts/AvenirNextCyr-Regular.ttf');
}
@font-face {
    font-family: 'Avenir Bold';
    src: url('../fonts/AvenirNextCyr-Bold.ttf');
}
@font-face {
    font-family: 'Avenir Heavy';
    src: url('../fonts/AvenirNextCyr-Heavy.ttf');
}
@font-face {
    font-family: 'Avenir Medium';
    src: url('../fonts/AvenirNextCyr-Medium.ttf');
}
@font-face {
    font-family: 'Avenir Light';
    src: url('../fonts/AvenirNextCyr-Light.ttf');
}
@font-face {
    font-family: 'Avenir Black';
    src: url('../fonts/AvenirLTStd-Black.otf');
}